* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

.map-container {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

form {
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 1;
}

.map-container > div {
  flex-grow: 1;
  position: relative;
}

.mapbox {
  height: 500px;
  width: 100%;
}